.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgba(175,175,175);
    background-color: white;
    display: inline-block;
    cursor: pointer;
    float:left;
    user-select: none;
}
.node-start {
    cursor: no-drop;
    background-color: rgba(200, 255, 0);
}
.node-finish {
    cursor: no-drop;
    background-color: rgba(0,0,255);
}
.node-wall {
    background-color: rgba(100,100,100);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: walling;
    animation-duration: 0.5s;
    animation-delay: 0;
}
@keyframes walling {
    0% {
        transform: scale(0.3);
    }
    50% {

    }
    100% {
        transform: scale(1);
    }
}
.node-shortest-path {
    background-color: rgb(0,255,0);
}
.node-searched {
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: searching;
    animation-duration: 1.7s;
    animation-delay: 0;

}

@keyframes searching {
    0% {
        transform: scale(0.3);
        background-color: rgba(0,0,0);
    }
    50% {
        background-color: rgba(120,0,0);
    }
    100% {
        transform: scale(1);
        background-color: rgba(255,192,203);
    }
}